<div class="wallet-connect">
  @if (!walletState().isConnected) {
    <div class="connection-options">
      <button
        (click)="connectToHenesys()"
        [disabled]="isSwitchingNetwork()"
        class="primary-btn">
        @if (isSwitchingNetwork()) {
          <span>Signing to Henesys...</span>
        } @else {
          <span>Sign in</span>
        }
      </button>
    </div>
  }
  @else {
    <div class="wallet" (click)="_isWalletInfoVisible = !_isWalletInfoVisible">
      @if (currentUser(); as userInfo) {
        <div class="user">
          <div class="user-profile">
            <img class="avatar" [src]="userInfo?.user?.avatar_url">
          </div>
          <div class="user-details">
            <span class="username">{{ userInfo?.user?.username }}</span>
            <span class="role">{{ userInfo?.user?.role }}</span>
          </div>
        </div>
      } @else {
        <msuf-loading></msuf-loading>
      }
      <div class="wallet-info" [class.hidden]="!_isWalletInfoVisible">
        <div class="account-info">

          <span class="address">{{ formatAddress(walletState().account) }} <ng-icon name="iconoirCopy" class="icon" (click)="copyWallet()" /></span>
        </div>

        @if (walletState().balance) {
          <div class="balance-info">
            <span class="label">NXPC:</span>
            <span class="balance">
              {{ walletState().balance!.slice(0, 7) }}
            </span>
          </div>
        }
      </div>
    </div>
    <button (click)="disconnect()" class="disconnect-button">
      <ng-icon name="iconoirLogOut" class="icon" (click)="copyWallet()" />
    </button>
  }

  <!-- @if (error()) {
    <div class="error-message">
      {{ error() }}
    </div>
  } -->
</div>
